/* TBC Network - Primary Theme Override CSS */
@import "../partials/bootstrap/variables";
@import "tbc_variables";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: #606060;
  background-color: #fff;
}

#masthead {
  background-image: url(../images/tbc-hdr-bg.png);
  max-height: $header-maxheight;
  @media (min-width: $screen-md-min) {
    width: 100%;
      position: absolute;
      z-index: 1000;
      padding: 10px 60px 60px;
  }
}

#masthead #site-logo {
  @media(max-width: $screen-sm) {
    padding-top: 0;
    margin-bottom: 10px;
    background: url(../images/tbc-logo-lt768.png);
    width: 125px;
    height: 64px;
    img {
      display: none;
    }
  }
}

html body {
  #page {
    #primary {
      @media(max-width: $screen-sm) { float: none; }
    }
    #main-content {
      .aside-right .center {
        @media(max-width: $screen-sm) { margin-right: 0; }
      }
      .aside-left .center { 
        @media(max-width: $screen-sm) { margin-left: 0; }
      }
    }
  }
}

.content-area.col-sm-12 {
  @media (min-width: $screen-md-min) {
    margin-top: 100px; 
  }
}

.page-node #content-wrap .flexslider img {
  border: none;
}
#preface-area {
    background: none repeat scroll #a5d6de;
    border-top: 5px solid #a5d9e1;
    border-bottom: 5px solid #a5d9e1;
}
.site-footer {
    background: #a5d6de;	
}
.flex-direction-nav a {
    background: url(../images/bg_direction_nav_tbc.png);
}
.fcred {
  color: #fff;
}

// Navigation
.mobilenavi {
  margin-bottom: 15px;
}

/* From Nexus demo */
#main-menu {
    padding: 0px 0px;
    margin: 22px 0px 15px;
    height: 45px;
    border-bottom: none;
    float: left;
}

#main-menu ul {
    width: auto;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0px;
}

#main-menu li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
}

#main-menu li a {
    color: #313638;
    display: block;
    margin: 0;
    padding: 19px 10px 19px 10px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

#main-menu li a:hover, #main-menu li a:active, #main-menu li a:hover.sf-with-ul, #main-menu li.sfHover a:hover, #main-menu > ul > li > a:hover.active-trail {
    color: #39a1a1;
}

#main-menu li a.sf-with-ul  {
    padding-right: 10px;
}

#main-menu li a.sf-with-ul, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  color: #313638;  
}

#main-menu li ul li a, #main-menu li ul li a:link, #main-menu li ul li a:visited, #main-menu li ul li ul li a, #main-menu li ul li ul li a:link, #main-menu li ul li ul li a:visited, #main-menu li ul li ul li ul li a, #main-menu li ul li ul li ul li a:link, #main-menu li ul li ul li ul li a:visited {
    color: #777;
    width: 148px;
    margin: 0;
    padding: 10px 10px;
    border-top: 1px solid #ddd;
    position: relative;
    font-weight: 400;
}

#main-menu ul li ul li:first-child a, #main-menu ul li ul li ul li:first-child a, #main-menu ul li ul li ul li ul li:first-child a {
    border-top: none;
}

#main-menu li ul li a:hover, #main-menu li ul li ul li a:hover, #main-menu li ul li ul li ul li a:hover {
    color: #39a1a1;
}

#main-menu li ul {
    font-size: 12px;
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 160px;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px;
    background: #efefef;
}

#main-menu li ul a {
    width: 150px;
}

#main-menu li ul a:hover, #main-menu li ul a:active {}

#main-menu li ul ul {
    margin: -44px 0 0 160px;
}

#main-menu li:hover ul ul, #main-menu li:hover ul ul ul, #main-menu li.sfHover ul ul, #main-menu li.sfHover ul ul ul {
    left: -999em;
}

#main-menu li:hover ul, #main-menu li li:hover ul, #main-menu li li li:hover ul, #main-menu li.sfHover ul, #main-menu li li.sfHover ul, #main-menu li li li.sfHover ul {
    left: auto;
}

#main-menu li:hover, #main-menu li.sfHover {
    position: static;
}

#main-menu > ul > li > a {
    padding : 5px;
}
// Menu
li.last.expanded.sfHover ul.menu {
   border: 1px solid #ddd;
}
ul.menu li {
    margin: 0;
    padding: 0;
}
